$lightYellow:#ffeb95;
$lightGreen:#99D4B7;
$lightViolet:#e2d3fe;
$lightRose:#ffc4c8;
$darkGrey:#332e2c;
$lightGrey: #aaa;
$white:#fff;

$h1:22px;
$h2:18px;
$h3:16px;
$p:14px;
$help:12px;

$marginLight:10px;
$marginBig:25px;
$paddingLight:5px;
$paddingBig:10px;

$borderThin:1px;
$borderMiddle:5px;
$borderBig:10px;

